Библиотеки:

COVID19Py версия 0.3.0(https://pypi.org/project/COVID19Py/)
COVID19Py - библиотека Python для легкого доступа к современным данным о случаях заболевания коронавирусом (COVID-19, SARS-CoV-2).


requests 2.24.0 - библиотека работает с подключением к различным веб сайтам. Она необходима для библиотеки COVID19Py


pyTelegramBotAPI 3.7.2 - библиотека служит для работы с API Telegram
